<div class="container">

    <div class="row">        
        <div class="card-body">
            <div id="título-card-chamados" class="card-body row" style="font-weight: bold; padding-right: 1em; margin-left: -19px">
                <p class="card-text col-2">ID</p>
                <p class="card-text col-3">Título</p>
                <p class="card-text col-3">Status</p>
                <p class="card-text col-3">Responsável</p>
            </div>

            {{#data}}
            <div class="row descricao-chamados">
                <p class="card-text col-2">{{id}}</p>
                <p class="card-text col-3">{{titulo}}</p>
                <p class="card-text col-3">{{status}}</p>
                <p class="card-text col-3">Admin</p>
                <a id="botao-editar-chamado" href="consultaChamados/{{id}}">
                <img src="/img/editar_chamado.png" width="20" height="20">
                </a>
            </div>
            {{/data}}
            
        </div>
    </div>
</div>