<div class="container">
    <div class="row">

        <div class="card-abrir-chamado">
            <div class="card">
                <div class="card-header">
                    Criação de Usuario
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">

                            <form name='formCriarUsuario' id="formCriarUsuario" action='controllerAbrirChamado' method='post'>
                                <div class="form-group">
                                    <label>Matricula</label>
                                    <input name="matricula" id="matricula" type="text" class="form-control"
                                        placeholder="Matrícula">
                                </div>

                                <div class="row mt-5">
                                    <div class="col-6">
                                        <a class="btn btn-lg btn-warning btn-block" href="/">Voltar</a>
                                    </div>

                                    <div class="col-6">
                                        <button class="btn btn-lg btn-info btn-block" type="submit"
                                            value="add">Abrir</button>
                                    </div>
                                </div>
                            </form>

                            <div class="resultado">Usuário criado com sucesso</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>