<div class="container">
    <div class="row">

        <div class="card-abrir-chamado">
            <div class="card" style="border-radius: 15px; box-shadow: 5px 10px 10px rgb(1 0 0 / 0.3);">
                <div class="card-body">
                    <div class="row">
                        <div class="col">

                            <form name='formAbrirChamado' id="formAbrirChamado" action='controllerAbrirChamado'
                                method='post'>
                                <div class="form-group row">
                                    <label class="col-2">Título</label>
                                    <input name="titulo" id="titulo" type="text" class="form-control col-9"
                                        placeholder="Título" style="border-radius: 15px; color: #007bff;">
                                </div>

                                <div class="form-group row">
                                    <label class="col-2">Categoria</label>
                                    <select name="categoria" id="categoria" class="form-control col-9" style="border-radius: 15px; color: #007bff;">
                                        <option>Criação Usuários</option>
                                        <option>Impressora</option>
                                        <option>Hardware</option>
                                        <option>Software</option>
                                        <option>Rede</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label> Descrição</label>
                                    <textarea name="descricao" id="descricao" class="form-control" rows="3" style="border-radius: 15px; color: #007bff;"></textarea>
                                </div>

                                <div class="row">
                                    <div class="col-2">
                                        <a class="btn btn-sm btn-block botao-cria-chamado" href="/"
                                            style="background: white; border-radius: 50px; line-height: 1; border-color: #007bff; color: #007bff;">Cancela</a>
                                    </div>
                                    <div class="col-2">
                                        <button class="btn btn-sm btn-block botao-cria-chamado"
                                            style="background: white; border-radius: 50px; line-height: 1; border-color: #007bff; color: #007bff;"
                                            type="submit" value="add">Confirma</button>
                                    </div>
                                </div>
                            </form>

                            <div class="resultado">Chamado aberto com sucesso</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>