<hiddenField id="tipo" name="tipo" value='{{tipo}}'></hiddenField>

<div class="container">
  <h1 style="text-align: center; color: #007bff; margin-top: 1em;"> Seja bem vindo(a) à Unihelp </h1>

  <h1 style="text-align: center; color: #007bff; margin-top: 1em;"> Chamados Abertos: {{quantChamados}}</h1>
</div>