<hiddenField id="tipo" name="tipo" value='{{tipo}}'></hiddenField>

<div class="container">
  <div class="row">

    <div class="card-home">
      <div class="card">
        <div class="card-header">
          Menu
        </div>
        <div class="card-body">
          <div class="row">
            <div id="opcaoAbrirChamado" class="col-4 text-center row">
              <div class="col-12">
                <a href="chamados" class="thumbnail">
                  <img src="img/formulario_abrir_chamado.png" width="70" height="70">
                </a>
              </div>
              <div class="caption col-12">
                <h6>Abrir Chamados</h6>
              </div>
            </div>
            <div id="opcaoConsultarChamados" class="col-4 text-center row">
              <div class="col-12">
                <a href="consultaChamados">
                  <img src="img/formulario_consultar_chamado.png" width="70" height="70">
                </a>
              </div>
              <div class="caption col-12">
                <h6>Consultar Chamados</h6>
              </div>
            </div>
            <div id="opcaoCriarUsuario" class="col-4 text-center row">
              <div class="col-12">
                <a href="criarUsuario">
                  <img src="img/formulario_consultar_chamado.png" width="70" height="70">
                </a>
              </div>
              <div class="caption col-12">
                <h6>Criar Usuario</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>